/* components/Navbar.css */
.body {
  font-family: "Rubik", sans-serif;
  margin: 0; /* Elimina márgenes predeterminados */
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ajusta el z-index según sea necesario */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* Color de fondo del navbar */
  padding: 10px 20px;
  /* Otros estilos como altura, tamaño de fuente, etc. */
}

  
.navbar-logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 300px; /* Ajusta el tamaño del logo según sea necesario */
  height: auto;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.nav-item {
  margin: 0 10px; /* Espacio entre elementos del navbar */
}

.nav-link {
  color: #fff; /* Color del texto de los enlaces */
  text-decoration: none;
  font-size: 16px;
}

.nav-link:hover {
  transition: color 0.5s;
  color: rgb(41, 126, 255);
}

.buy-ticket-btn {
  background-color: rgb(41, 126, 255);
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo puntero */
  font-size: 16px; /* Tamaño de fuente */
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
  border-radius: 15px;
}

.buy-ticket-btn:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón por encima */
}

/* styles.css */
.headerContainer {
  position: relative;
  width: 100%;
  padding: 150px 0;
  background: url('/public/img/banner.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.headerContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Ajusta el color y la opacidad según sea necesario */
  z-index: 1;
}

.title, .subTitle {
  position: relative;
  z-index: 2;
}

.title {
  font-size: 60px;
  color: rgb(41, 126, 255);
  margin: 0;
  padding-bottom: 15px;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
}

.subTitle {
  color: white;
  text-align: center;
}


.about-event {
  display: flex;
  justify-content: center;
  padding: 30px 60px;
}

.aboutText {
  text-align: center;
  line-height: 2;
  font-size: 17px;
}


/* Speakers */

#Speakers {
  background: url('/public/img/spekers-background.svg') center center;
}
.speakersAndTopics {
  color: white;
  margin: 0px;
  padding: 20px 40px;
  font-size: 30px;
}

.speaker-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speaker-card {
  text-align: center;
  position: relative;
  width: 21vw;
  padding: 20px;
}

.speaker-image-container {
  position: relative;
  width: 100%;
  height: auto;
}

.speaker-image {
  width: 200px;
}

.speaker-company {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 50px;
  max-height: 30px;
  background: none;
}



.speaker-name {
  color: rgb(41, 126, 255);
}

.speaker-topic {
  color: #fff;
}

/* Sponsors */

.sponsors-grid {
  display: flex;
  justify-content: space-between;
  padding: 40px 30px;
}

.sponsorsLogo {
  width: 100px;
  height: 50px;
}

/* Countdown timer */

.event-details {
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0px;
}

.date {
  color: white;
  text-align: center;
}

.countdown-timer {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(41, 126, 255);
  text-shadow: 0px 0px 20px rgb(0, 8, 255); /* Ejemplo de sombra suave para el texto */
}


/* Footer */

.footer {
  background-color: #000000;
  border-top: 1px solid rgb(41, 126, 255);;
  color: white;
  font-family: 'Rubik', sans-serif;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 20px;
}

.footerLogo {
  width: 200px;
}

.footer-section h4 {
  color: rgb(41, 126, 255);
  margin-bottom: 15px;
}

.footer-section p, .footer-section ul, .footer-section li {
  color: white;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.6;
}

.footer-section a {
  color: rgb(255, 255, 255);
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #0056b3;
}

.footer-bottom {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #0b0b0b;
}

.footer-bottom p {
  font-size: 10px;
  margin: 0;
}



@media (max-width: 768px) {

  /* Navbar en móvil */
  .navbar-nav {
    display: none; /* Ocultar la lista de navegación en dispositivos móviles por defecto */
    flex-direction: column;
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    background-color: #000000; /* Color de fondo del menú hamburguesa */
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
  }

  .navbar-nav.active {
    display: flex; /* Mostrar la lista de navegación cuando el menú hamburguesa está activo */
    margin: 0px;
    padding: 30px 0px;
    gap: 30px;
    transform: translateY(0);
  }

  .logo-img {
    width: 200px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }

  .menu-icon {
    color: rgb(41, 126, 255);
    display: block; /* Mostrar el icono de menú en dispositivos móviles */
    cursor: pointer;
    font-size: 24px; /* Tamaño del icono de menú */
    padding: 10px;
  }
  .nav-item {
    margin: 0 10px; /* Espacio entre elementos del navbar */
  }
  
  .nav-link {
    font-size: 16px;
  }

  /* Header */

  .headerContainer {
    width: 100%;
    padding: 120px 0px;
  }
  
  .title {
    font-size: 25px;
  }
  
  .subTitle {
    font-size: 18px;
  }

  /* About */

  .about-event {
    padding: 10px 20px;
  }
  
  .aboutText {
    line-height: 1.8;
    font-size: 15px;
  }

  /* Speakers */

.speakersAndTopics {
  margin: 0px;
  padding: 20px 40px;
  font-size: 25px;
}

.speaker-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.speaker-card {
  width: 40vw;
  padding: 10px 10px;
}

.speaker-image {
  width: 130px;
}

.speaker-name {
  font-size: 15px;
  color: rgb(41, 126, 255);
}

.speaker-topic {
  font-size: 13px;
  color: #fff;
}

/* Sponsors */

.sponsors-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px 15px;
}

.sponsorsLogo {
  width: 60px;
  height: 30px;
}

/* Countdown timer */

.event-details {
  background-color: #000000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px;
}

.date {
  font-size: 15px;
  color: white;
  text-align: center;
}

.countdown-timer {
  text-align: center;
  font-size: 18px;
  color: rgb(41, 126, 255);
}

/* Footer */

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  padding: 20px 10px;
}

.footer-section {
  flex: 1;
  margin: 10px 10px;
}

.footerLogo {
  width: 150px;
  margin-bottom: 15px;
}

.footer-section h4 {
  font-size: 15px;
  color: rgb(41, 126, 255);
  margin-bottom: 15px;
}

.footer-section p, .footer-section ul, .footer-section li {
  font-size: 13px;
}

}
